.add-modal80 {
    width: 80%;    /* Occupy the 90% of the screen width */
    max-width: 80%!important;
} 

.modal-header-color{
    background-color: rgba(0,0,0,.03);
}

.dropdown-invalid{
    font-size: .875em;
    color: #dc3545;
}